body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: lightgray;
}

/* Begin Debugging Code */
/*
header, main, main section, nav, .logo {
    border: solid 2px #CCC;
     padding: 10px;
    margin: 10px; 
}

.logo {
    font-size: 1em;
    font-weight: normal;
}

aside, body > header, main, .news-feed, header > nav {
    border: solid 4px #000;
     padding: 10px;
    margin: 10px; 
    font-family: monospace;
}
*/
/* End Debugging Code */

#topnav{
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 5px 20px;
    font-family: 'Comfortaa', cursive;
}

#topnav > .corner{
    display: flex;
    gap: 40px;
    font-size: 10px;
}

#sign-in{
    background: none;
    border: none;
    color: blue;
}


main{
    margin-top: 80px;
    background-color: lightgray;
}

aside{
    position: fixed;
    background-color: lightgray;
    top: 70px;
    left: 70vw;
    width: 30vw;
    min-height: 100vh;
}

.sug-panel{
    display: grid;
    /* grid-template-rows: auto auto auto auto auto auto; */
    font-family: 'Comfortaa', cursive;
    padding-left: 40px;
    row-gap: 20px;
    /* column-gap: 20px; */
}

.sug-panel>span{
    grid-row: 1/2;
    font-size: 20px;
    color: gray;
}

#panel-1{
    /* grid-row: 2/3; */
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-row: 100%;
}

#panel-1>img{
    /* grid-column: 1/2; */
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


#user1{
    grid-row: 1;
    grid-column: 2/3;
    font-size: 20px;
}

#panel-1>p{
    grid-column: 2/3;
    grid-row: 1;
    padding-top: 5px;
    font-size: 15px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.follow-button{
    background: none;
    border: none;
    color: blue;
}

/* 

#panel-2{
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-row: 100%;
}

#panel-2>img{
    grid-column: 1/2;
    border-radius: 50%;
    width: 60px;
}


#user2{
    grid-row: 1;
    grid-column: 2/3;
    font-size: 20px;
}

#panel-2>p{
    grid-column: 2/3;
    grid-row: 1;
    padding-top: 5px;
    font-size: 15px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}



#panel-3{
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-row: 100%;
}

#panel-3>img{
    grid-column: 1/2;
    border-radius: 50%;
    width: 60px;
}


#user3{
    grid-row: 1;
    grid-column: 2/3;
    font-size: 20px;
    min-width: 200px;
}

#panel-3>p{
    grid-column: 2/3;
    grid-row: 1;
    padding-top: 5px;
    font-size: 15px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
} */


/* 
#panel-4{
    grid-row: 5/6;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-row: 100%;
}

#panel-4>img{
    grid-column: 1/2;
    border-radius: 50%;
    width: 60px;
}


#user4{
    grid-row: 1;
    grid-column: 2/3;
    font-size: 20px;
}

#panel-4>p{
    grid-column: 2/3;
    grid-row: 1;
    padding-top: 5px;
    font-size: 15px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}


#panel-5{
    grid-row: 6/7;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-row: 100%;
}

#panel-5>img{
    grid-column: 1/2;
    border-radius: 50%;
    width: 60px;
}


#user5{
    grid-row: 1;
    grid-column: 2/3;
    font-size: 20px;
}

#panel-5>p{
    grid-column: 2/3;
    grid-row: 1;
    padding-top: 5px;
    font-size: 15px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
} */



aside>div{
    padding-left: 40px;
    padding-top: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    margin-bottom: 50px;
}

aside>div>img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.news-feed{
    margin-right: 30vw;
    margin-left: 10vw;
    background-color: lightgray;
}

#stories-panel{
    display: flex;
    /* grid-template-columns: auto auto auto auto auto auto auto auto; */
    max-height: 140px;
    overflow: hidden;
    background-color: white;
}

/* #stories-panel section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

#stories-panel>section>img{
    border-radius: 50%;
    width: 75px;
    border: solid 4px lightgray;
}

#stories-panel>section{
    display: flex;
    padding: 10px;
    max-height: 140px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#stories-panel>section>button{
    grid-row: 2/3;
    color:gray;
    width: 100px;
    background: none;
    border: none;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
}

hr{
    background-color: lightgray;
    border: none;
    height: 5px;
}

.post-bar-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-bar-top>p{
    padding-left: 20px;
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
}

.post-bar-top>button{
    padding-right: 20px;
    border: none;
    background: none;
    font-size: 1.5em;
}

.post-bar-bottom{
    display: flex;
    justify-content: space-between;
    max-height: 15px;
}

.post-bar-bottom>section{
    padding-left: 10px;
}

.post-bar-bottom>section>i{
    padding-left: 15px;
    font-size: 1.5em;
}

.post-bar-bottom>section>button{
    font-size: 1.5em;
    background: none;
    border: none;
}

.post-bar-bottom>.bookmark{
    padding-right: 10px;
    font-size: 1.5em;
    background: none;
    border: none;
}

.post{
    width: 100%;
}

.comment-section{
    padding-left: 20px;
}

.like-count{
    padding-top: 10px;
    font-weight: bold;
}

.username-poster{
    font-weight: bold;
    padding-right: 5px;
}

.comments{
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.com-button{
    padding-bottom: 10px;
    border: none;
    background: none;
    color: blue;
}

.more{
    background: none;
    border: none;
    color: blue;
}

.photo-feed{
    margin-bottom: 20px;
    padding-bottom: 10px;
    background-color: white;
}



@media (max-width: 800px) {
    aside{
        display: none;
    }
    
    .news-feed{
        margin: auto;
    }

}